---
layout: default
title: Inicio
---

<div class="m_garcia_trial">
  <h1>El proceso de Mayor Garcia</h1>
  <div class="editions">
    <a href="/moriscas_trial_of_mayor_garcia/facsimiles/">
      <div class="box">
        <span class="caption">Facsímiles</span>
      </div>
    </a>
    <a href="/moriscas_trial_of_mayor_garcia/facsimile_transcription/">
      <div class="box">
        <span class="caption">Trascripción facsimilar</span>
      </div>
    </a>
  </div>
</div>

<div class="jump_container" onclick="goToPage()">
  <select id="jump_pg">
    <option value="">Buscar la página</option>
    {% for item in site.texts %}
    <option value= "{{ site.baseurl }}{{ item.url }}">
      {{ item.title }}
    </option>
    {% endfor %}
  </select>
  <!-- Removed button; page now changes on selection
  <input type="button" value="Submit" onclick="goToPage()">
  -->
</div>

<script>
  function goToPage() {
    const select = document.getElementById("jump_pg");
    const url = select.value;

    if (url) {
      window.location.href = url;
    }
  }
</script>

<hr>

<div class="introduction">
  <h1>Bienvenidos/as</h1>

<p>
  'Las moriscas de Daimiel' es un proyecto para educar sobre las moriscas durante la Inquisición en Daimiel, España. Aquí, podéis leer 
  sobre las historias de las mujeres que no han sido excavadas de los archivos antes ahora. Mucho estudio e 
  investigación sobre la Inquisición existe, pero no hay un gran centrarse sobre las Moriscas en las publicaciones y 
  estudios académicos. Este sitio web sirve como un recurso para difundir al público las historias y vidas de las 
  moriscas. Pueden ver y leer los documentos que describen como la Inquisición ha tratado ellas, y aprender cómo los 
  académicos transcriben y modernizan el texto medieval. 
</p>
<a target="_blank" href="https://colenda.library.upenn.edu/catalog/81431-p3r20sf8q">Enlace a la colleción</a>
</div>

<!--
<div class="toc">
  <h2>sample texts</h2>
  <ul class="texts">
  {% for item in site.texts %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
-->
