---
layout: default
title: Home
---

<div class="m_garcia_trial">
  <h1>Trial of Mayor Garcia</h1>
  <div class="editions">
    <a href="/transcribing_moriscas/images/">
      <div class="box">
        <span class="caption">Images</span>
      </div>
    </a>
    <a href="/transcribing_moriscas/conservative_transcription/">
      <div class="box">
        <span class="caption">Conservative Transcription</span>
      </div>
    </a>
  </div>
</div>

<div class="jump_container">
  <select id="jump_pg">
    <option value="">Jump to Page</option>
    {% for item in site.texts %}
    <option value= "{{ site.baseurl }}{{ item.url }}">
      {{ item.title }}
    </option>
    {% endfor %}
  </select>
  <input type="button" value="Submit" onclick="goToPage()">
</div>

<script>
  function goToPage() {
    const select = document.getElementById("jump_pg");
    const url = select.value;

    if (url) {
      window.location.href = url;
    }
  }
</script>

<hr>

<div class="introduction">
  <h1>Welcome</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non, ut dolorum qui magnam consequatur natus minima minus deleniti sunt maiores unde reiciendis incidunt optio blanditiis porro, similique ducimus? Et?
</p>
<a target="_blank" href="https://colenda.library.upenn.edu/catalog/81431-p3r20sf8q">Link to Collection</a>
</div>

<!--
<div class="toc">
  <h2>sample texts</h2>
  <ul class="texts">
  {% for item in site.texts %}

    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
-->
