---
layout: default
---
<article class="manuscrito">
    <!--
    <h1 id="titulo" style="margin-left: 2.5rem;">{{ page.title }}</h1>
-->
    {% assign secciones = page.content | split: '<!-- SPLIT -->' %}
    {% assign titulo = nil %}
    {% for seccion in secciones %}
        {% assign parrafos = seccion | split: "</p>" %}
        <div class="contenido">
            <div class="margen">
                {% for bloque in parrafos %}
                    {% assign parrafo = bloque %}
                    {% if parrafo contains '</h1>' %}
                        {% assign titulo-sec = parrafo | split: "</h1>" %}
                        {% assign titulo = titulo-sec[0] %}
                        {% assign parrafo = titulo-sec[1] %}
                        <p></p>
                    {% endif %}

                    {% if parrafo contains '<p>' %}
                        {% assign parrafo = parrafo | remove_first: '<p>' | strip %}
                        {% assign primera = parrafo | slice: 0 %} {% assign ultima = parrafo | slice: -1 %}
                        {% assign agarrar = parrafo | slice: -2 %}
                        {% if primera == "[" and ultima == "]" and agarrar != "." %}
                            {% assign partes = parrafo | split: ':' %}
                            {% assign mitad = partes[0] | split: '[' %}
                            {% assign pagina = mitad[1] %}
                            {% assign orden = pagina | minus: 24 %}
                            {% assign transc = site.texts | where: "order", orden | first %}
                            <a href="{{ site.baseurl }}{{ transc.url }}">{{ parrafo }}</a>
                        {% elsif primera == "[" and ultima == "]" and agarrar == "." %}
                            <p><i>Folio blanco.</i></p>
                        {% endif %}
                    {% else %} <p></p>
                    {% endif %}
                {% endfor %}                    
            </div>
            <div class="parrafo">
                {% for bloque in parrafos %}
                    {% assign parrafo = bloque %}
                    {% if parrafo contains '</h1>' %}
                        <h1 style="margin: 0;">{{ titulo }}</h1>
                        {% assign titulo-sec = parrafo | split: "</h1>" %}
                        <!--{% assign titulo = titulo-sec[0] %}-->
                        {% assign parrafo = titulo-sec[1] %}
                    {% endif %}

                    {% if parrafo contains '<p>' %}
                        {% assign parrafo = parrafo | remove_first: '<p>' | strip %}
                        {% assign primera = parrafo | slice: 0 %} {% assign ultima = parrafo | slice: -1 %}
                        {% assign agarrar = parrafo | slice: -2 %}
                        {% assign nota = parrafo | slice: 0, 14 %}
                        {% if primera != "[" or ultima != "]" %}
                            {{ bloque }}
                        {% elsif primera == "[" and ultima =="]" and agarrar == "." %}
                            <br><br><hr>
                        {% endif %}
                    {% elsif bloque contains '<h1>' or bloque contains '<h2>' or bloque contains '<h3>' or bloque contains '<h4>' or bloque contains '<h5>' or bloque contains '<h6>' %}
                            {{ bloque }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</article>

{% assign anter = page.order | minus: 1 %} {% assign prox = page.order | plus: 1 %}
{% assign anter_pg = site.textos-modernos | where: "order", anter | first %}
{% assign prox_pg = site.textos-modernos | where: "order", prox | first %}
<div class="bottom_buttons">
    {% if anter_pg %}<a href="{{ site.baseurl }}{{ anter_pg.url }}"> Anterior</a>
    {% else %}<span></span>{% endif %}
    <a href="{{ site.baseurl }}/edicion-moderna"> Volver a la table de contenidos</a>
    {% if prox_pg %} <a href="{{ site.baseurl }}{{ prox_pg.url }}"> Siguiente</a>
    {% else %}<span></span>{% endif %}
</div>
<div class="jump_container">
    <select id="cambio">
        <option value="">Elegir la página</option>
        {% assign en_orden = site.textos-modernos | sort: "order" %}
        {% for texto in en_orden %}
        <option value="{{ site.baseurl }}{{ texto.url }}">
            {{ texto.title }}
        </option>
        {% endfor %}
    </select>
</div>
<!--
{% assign transc = site.texts | where: "order", page.order | first %}
<a href="{{ site.baseurl }}{{ transc.url }}">Ver la transcripción</a>
-->
<script>
document.getElementById("cambio").addEventListener("change", function () {
    if (this.value) {
        window.location.href = this.value;
    }
});
</script>