---
layout: default
---
<article class="manuscrito">
    <h1 id="titulo">{{ page.title }}</h1>
    <div id="content">
        {{ content }}
    </div>
</article>
{% assign anter = page.order | minus: 1 %} {% assign prox = page.order | plus: 1 %}
{% assign anter_pg = site.textos-modernos | where: "order", anter | first %}
{% assign prox_pg = site.textos-modernos | where: "order", prox | first %}
<div class="bottom_buttons">
    {% if anter_pg %}<a href="{{ site.baseurl }}{{ anter_pg.url }}"> Anterior</a>
    {% else %}<span></span>{% endif %}
    <a href="{{ site.baseurl }}/edicion-moderna"> Volver a la table de contenidos</a>
    {% if prox_pg %} <a href="{{ site.baseurl }}{{ prox_pg.url }}"> Siguiente</a>
    {% else %}<span></span>{% endif %}
</div>
<div class="jump_container">
    <select id="cambio">
        <option value="">Elegir la página</option>
        {% assign en_orden = site.textos-modernos | sort: "order" %}
        {% for texto in en_orden %}
        <option value="{{ site.baseurl }}{{ texto.url }}">
            {{ texto.title }}
        </option>
        {% endfor %}
    </select>
</div>
<script>
document.getElementById("cambio").addEventListener("change", function () {
    if (this.value) {
        window.location.href = this.value;
    }
});
</script>