---
layout: default
---
<article class="manuscrito">
    <h1 id="titulo" style="margin-left:2.5rem;">{{ page.title }}</h1>
    <div class="row">
        <div id="content">
            <!--<h1 style="margin-left:25%;">{{ text.title }}</h1>-->
            <div class="column-left" id="folium">
                <figure>
                    <a href="{{site.baseurl}}{{ page.image }}" target="_blank">
                    <img src="{{ site.baseurl }}{{ page.image }}" alt="Manuscrito: {{ page.title }}" 
                    style="max-width:95%;height:auto;margin:10px 0;">
                    </a>
                    <figcaption>
                        <em>El proceso de Mayor Garcia: {{ page.title }}</em><br>
                        {% assign num_pagina = page.order | plus: 24 %}
                        <a href="{{ site.baseurl }}/edicion-moderna/#{{ num_pagina }}">Ver la edición moderna</a>
                    </figcaption>
                </figure>
            </div>
            <div class="column-right">
                {% assign texto-principal = content | split: "<!-- FOOTNOTES -->" %}
                <!--{% assign numero_p = nil %}-->
                {% assign lineas = texto-principal[0] | remove: "<ol>" %}{% assign lineas = lineas| remove: "</ol>" %}
                {% assign lineas = lineas | split: "</li>" %}
                {% for linea in lineas %}
                    {% assign linea_p = linea | remove: "</li>" %} {% assign linea_p = linea_p | remove: "<li>" %}
                    <div class="row">
                        <div class="right-margen">
                            {% assign remainder = forloop.index | modulo: 5 %}
                            {% if remainder == 0 and forloop.index < lineas.size %}
                                <span>{{ forloop.index }}. </span>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="right-text">
                            <span>{{linea_p }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="max-width: 34rem; margin-left: auto; margin-right: auto;">
        <p>{{ texto-principal[1] }}</p>
    </div>
</article>

{% assign anter = page.order | minus: 1 %} {% assign prox = page.order | plus: 1 %}
{% assign anter_pg = site.texts | where: "order", anter | first %}
{% assign prox_pg = site.texts | where: "order", prox | first %}
<div class="bottom_buttons">
    {% if anter_pg %}
        <a href="{{ site.baseurl }}{{ anter_pg.url }}">
            <div class="box">
                <span class="anterior">
                    <span style="font-size: x-large;">&#8678</span> Anterior
                </span>
            </div>
        </a>
    {% else %}<div class="box" style="visibility: hidden;"></div>{% endif %}
        <a href="{{ site.baseurl }}/manuscrito">
            <div class="box"><span> Volver a la table de contenidos</span></div>
        </a>
    {% if prox_pg %}
        <a href="{{ site.baseurl }}{{ prox_pg.url }}">
            <div class="box">
                <span class="siguiente"> Siguiente 
                    <span style="font-size: x-large;">&#8680</span>
                </span>
            </div>
        </a>
    {% else %}<div class="box" style="visibility: hidden;"></div>{% endif %}
</div>
<div class="jump_container">
    <select id="cambio">
        <option value="">Elegir la página</option>
        {% assign en_orden = site.texts | sort: "order" %}
        {% for texto in en_orden %}
        <option value="{{ site.baseurl }}{{ texto.url }}">
            {{ texto.title }}
        </option>
        {% endfor %}
    </select>
</div>
<script>
document.getElementById("cambio").addEventListener("change", function () {
    if (this.value) {
        window.location.href = this.value;
    }
});
</script>